/*Start main  rules*/
body{
  background-color: #e6ffff;
}
/*END main rules*/
/*Start login form*/
.login{
  width: 300px;
  margin: 100px auto;
}
.login{
  margin-bottom: 20px;
}
.login .form-control{
background-color:#0040ff;
}
.login .btn{
background-color:#00bfff;
}
/*End login form*/
